header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3em 3.5em;
    background-color: #d3cdad;
}

#menu {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

figure {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#user {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
}

label > i {
    font-size: 2em;
    color: #47492b;
    cursor: pointer;
    transition: ease 0.2s;
}

label > i:hover{
    transition: ease 0.2s;
    transform: scale(1.1);
}

figure > a > img{
    width: 10em;
}

#logout-btn {
    height: 2.7em;
    width: 15%;
    background-color: #af793b;
    border:1pt solid #7e3c3e;
    color: #efead7;
    cursor: pointer;
    font-weight: 700;
    font-size: small;
    border-radius: 0.5em;
    transition: ease-in-out 0.2s;
}

#logout-btn:hover {
    background-color: #7e3c3e;
    transition: ease-in-out 0.3s;
    transform: scale(1.1);
}

#menu-toggle {
    display: none;
}

.menu-icon {
    display: inline-block;
    cursor: pointer;
}

#menu-toggle:checked + .menu-icon + #ham-menu ul {
    display: block;
}

#ham-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: #efead7;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

#menu-toggle:checked + .menu-icon + #ham-menu {
    transform: translateX(0);
}

nav > div > label {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.close-menu {
    cursor: pointer;
    font-size: 1.8em;
    padding: 1em 1em;
    margin-left: 0em;
    text-align: right;
    transition: ease 0.2s;
}

.close-menu:hover {
    color: #7e3c3e;
    transform: scale(1.1);
}

#ham-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
}

#ham-menu + div {
    padding: 0;
    margin: 0;
}

#ham-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#ham-menu ul li {
    padding: 0em;
    border-bottom: 1px solid #8f9148;
    cursor: pointer;
    text-align: center;
    transition: ease 0.2s;
}

#ham-menu ul li a {    
    padding: 1.2em 1.5em;
    margin: 0em 2.1em;
    color: #6d7045;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    transition: ease 0.2s;
}

#ham-menu ul li a:link {
    height: 100%;
}

#ham-menu ul li:hover {
    background-color: #d3cdad;
    color: #af793b;
}

#ham-menu ul li:last-child {
    border-bottom: none;
}