body {
    background-color: #fffcef;
}

.status-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2.5em;
    border-bottom: 1.2pt dashed #8f9148;
}

.status-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    width: 87%;
    height: 75px;
}

.status-container > h2 {
    font-weight: bolder;
    font-size: 2em;
    color: #47492b;
    padding-left: 0.5em;
    padding-right: 1.8em;
}

.status {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    margin: 0em 0.6em;
    font-weight: bolder;
    font-size: 1.2em;
    color: #47492b;
    text-align: center;
}


.status-approve {
    background-color: #D5E8D4;
    border: 2px solid #82B366;
    text-align: center;
}

.status-reject {
    background-color: #F8CECC;
    border: 2px solid #B85450;
}
.status-pending{
    background-color: #F5F5F5;
    border: 2px solid #666666;
}

.project-details {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
}

.project-container {
    width: 100%;
    padding: 0.8em 3.5em;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    color: #47492b;
}

#submit-btn {
    margin: 0.8em;
    height: 2.7em;
    width: 50%;
    background-color: #6d7045;
    border:1pt solid #6d7045;
    color: #efead7;
    cursor: pointer;
    font-weight: 700;
    border-radius: 0.5em;
}

#resubmit-btn {
    margin-right: 3.5em;
    margin-bottom: 1em;
    padding: 0.5em;
    float: right;
    background-color: #7e3c3e;
    border:1pt solid black;
    color: #efead7;
    cursor: pointer;
    font-weight: 700;
    border-radius: 0.5em;
}

.btn-container {
    display: flex;
    flex-direction: row;
}

#approve-btn, #reject-btn {
    margin: 2em 0.4em;
    height: 3em;
    width: 50%;
    color: #efead7;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 700;
    border-radius: 0.5em;
    transition-duration: 0.2s;
}

#back-btn {
    margin: 2em 0em -1em 4em;
    height: 2.7em;
    width: 10%;
    color: #efead7;
    cursor: pointer;
    font-weight: 700;
    border-radius: 0.5em;
    background-color: #af793b;
    border:1pt solid #7e3c3e;
    transition-duration: 0.2s;
}

#back-btn:hover {
    transform: scale(1.05);
}

#approve-btn:hover, #reject-btn:hover {
    transform: scale(1.01);
}

#approve-btn {
    background-color: #6d7045;
    border:1.3pt solid #47492b;
}

#reject-btn {
    background-color: #7e3c3e;
    border:1.3pt solid #3f1719;
}

table {
    width: 100%;
    border: 1px solid #6d7045;
}

table, td {
    border-radius: 0.5em;
    background-color: #efead7;
    color: #47492b;
}

td {
    text-align: center;
}

td:nth-child(1) {
    padding: 1em 0.3em;
    font-weight: bold;
}

td:nth-child(2) {
    border-left: none;
    border-right: 1px solid #6d7045;
    border-radius: 0em;
    font-weight: bold;
    padding-right: 0.3em;
}

td:nth-child(3) {
    padding: 0.5em 0.5em;
    text-align: left;
}



